  /* Общи стилове */

/* Стилове за десктоп */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #f0f0f0;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
}

main {
    padding: 20px 0;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(33.33% - 20px);
    text-align: center;
}

.product img {
    width: 100%;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

/* Стилизация на скрола */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Стилизация на заглавието "Нашето разнообразие" */
.title {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.title h2 {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 3.0rem;
    text-shadow: 100px 120px 105px rgba(255, 255, 255, 0.5);
}

/* Стилизация за телефонни устройства с максимална ширина 750px */
@media (max-width: 750px) {
    .container {
        width: 90%;
    }

    header h1 {
        font-size: 1.5rem;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    nav ul li a {
        font-size: 1rem;
    }

    .product {
        width: 100%;
    }
}
